<!DOCTYPE html>
<html data-theme="cupcake">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
    <title>BBOX - {% block title %}Home{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.7/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    {% block head %} {% endblock %}
</head>
<body>
    <div>
        <div class="drawer md:drawer-open">
            <input id="main-sidebar" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col items-left justify-start p-6">
                <label for="main-sidebar" class="btn drawer-button md:hidden">Toggle Menu</label>
                <article class="prose">
                <h2>{% block content_title %}{% endblock %}</h2>
                </article>
                {% block content %}{% endblock %}
            </div>
            <div class="drawer-side">
                <label for="main-sidebar" class="drawer-overlay"></label>

                <div class="bg-base-200 pl-8 p-5">
                    <i class='bx bx-border-outer'></i>
                    <span class="text-xl font-bold">BBOX</span>
                </div>

                <ul class="menu bg-base-200 w-56 h-full rounded-box">
                    <li>
                        <a href="/" {% if cur_menu=="Home" %}class="active" {% endif %}>
                            <i class="bx bx-grid-alt"></i> Home
                        </a>
                    </li>
                    <li>
                        <a href="/collections" {% if cur_menu=="Collections" %}class="active" {% endif %}>
                            <i class="bx bx-list-ul"></i> Collections
                        </a>
                    </li>
                    <li class="disabled">
                        <a {# href="#" #} {% if cur_menu=="Processes" %}class="active" {% endif %}>
                            <i class="bx bx-git-branch"></i> Processes
                        </a>
                    </li>
                    <li>
                        <a href="/redoc.html" {% if cur_menu=="API" %}class="active" {% endif %}>
                            <i class="bx bx-code-alt"></i> API
                        </a>
                    </li>
                    {#
                    <li>
                        <a href="#" {% if cur_menu=="Routing" %}class="active" {% endif %}>
                            <i class="bx bx-navigation"></i> Routing
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-cog'></i> Admin
                        </a>
                    </li>
                    #}
                </ul>
            </div>
        </div>
      </div>
</body>

</html>
